/* FONTS */
@font-face { font-family: Orbitron; src: url('fonts/orbitron-light.otf'); }


/* ELEMENTS */
html{
  scroll-behavior: smooth;
}

body{
  font-family: Orbitron;
}

/* IDS */
#banner{
  background-color: black;
  color: white;
}

#white01{
    background-color: white;
}

#black01{
  background-color: black;
}

#MTSLogo {
    animation: breathing 6s infinite;
    transform-origin: center left;
}

#down_arrow{
  position: absolute;
  width: 50px;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);
  animation: up_down 6s infinite;
}



/* CLASSES */

.black h2, h4{
  color: white;
}

.black h4{
  font-size: 1.5em;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.full-screen{
  height: 105vh;
  width: auto;
}

.section-header{
  padding-top: 5%;
}
.white h4{
  color: darkgray;
}

/*  ANIMATIONS */

@keyframes breathing {

  0% {
    transform: scale(0.85) translate(-50%,-50%);
    opacity: 0.4
  }
  50% {
    transform: scale(1) translate(-50%,-50%);
    opacity: 1
  }
  100% {
    transform: scale(0.85) translate(-50%,-50%);
    opacity: 0.4
  }
}

@keyframes up_down {

  0%{
    transform: translate(-50%,-50%);
    opacity: 0.4
  }

  50%{
    transform: translate(-50%,350%);
    opacity: 1
  }

  100%{
    transform: translate(-50%,-50%);
    opacity: 0.4
  }

}
